/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entete img {
    width: 61,09px;
    height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-entete {
    display: flex;
    width: 344px;
    flex-direction: row;
    justify-content: space-around;
}

.nav-entete a {
    padding-top: 10px;
}

.nav-entete a:hover {
    border-top: solid 3px #0065FC;
    color: #0065FC;
}

.phrases {
    display: flex;
    flex-direction: column;
        margin-bottom: 15px;
}

.phrases h2 {
    margin-bottom: 8px;
    
}

.phrases p {
    margin-top: 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/*Barre de recherche*/
.menu-search-bar {
    display: flex;
    width: 22%;
    flex-direction: row;
}

::placeholder {
    color: black;
}

.menu-search-bar i {
    font-size: large;
    color: black;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.menu-search-bar button {
    padding: 14px;
    color: white;
    background-color: #0065FC;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 0 20px 20px 0;
}

#search-bar {
    font-weight: bold;
    font-size: large;
    padding-right: 0;
    padding-left: 10%;
    border: solid #F2F2F2;
    border-width: 1px 0 1px 0;
}

/*Partie filtres*/
.main-filtres {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-top: 30px;

}

.menu-filtres  {
    display: flex;
    padding-left: 10px;
}

.filtres {
    display: flex;
    padding: 14px;
    margin: 7px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
}

.filtres i {
    padding-right: 10px;
}

.filtres:hover {
    background-color: #DEEBFF;
}

/*Info*/
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0 5px 0;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
    font-size: 12px;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    margin-top: 0;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 207px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.hebergements-cards .card-subtitle {
    display: flex;
    padding: 5px 0 5px 0;
    margin: 0;
}

.hebergements-cards h3 {
    margin: 0;
    padding: 0;
}

.afficher-plus {
    display: flex;
    margin: 30px 0 0 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités*/

.activites-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.activites-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-card h3 {
    padding: 0 0 0 20px;
}

/*Partie footer*/
.pied-de-page {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    padding: 15px;
}

.pied-de-page-partie {
    display: flex;
    width: 33%;
    flex-direction: column;
    gap: 15px;
}

.pied-de-page-partie h3 {
    margin: 0;
}

.pied-de-page-partie a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: intrinsic;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}